<!-- <p>car-details works!</p>
<div class="container">
    <form>
    <div class="row">
        <div class="col-md-6">
                <fieldset>

                    <div class="form-group">
                        <label for="carName">CarName :</label>
                        <input type="text" class="form-control" id="userName" [(ngModel)]="custCarDetails.carName" name="userName" id="txt"
                        placeholder="Enter car name"  required>
                      </div>

                   <div class="form-group">
                       <label for="paymentDetails">Payment Details :</label>
                       <imput type="text" class="form-control" id="paymentDetails" [(ngModel)]="custCarDetails.paymentDetails" name="paymentDetails" id="txt"
                       placeholder="select paymentDetails" required></imput>
                   </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="login" (click)="loginNow()"  ng-click="redirectTo(/addDetails)">
                    </div>
                </fieldset>
        </div>
    </div>
</form>

</div> -->

<p>login successful</p>